#form {
    width: 100%;
    max-width: 1080px;
    margin: 0px auto;
    border-right:2px solid lightgray;
    border-left: 2px solid lightgray;
    padding: 20px;
}

#valider {
    margin-top: 20px;
    width: 100%;
    background-color: #00B28B;
    color: white;
}

#form h2 {
    text-align: center;
    color: white;
    padding: 70px 0;
}

.txtInputContainer {
    column-count: 2;
}

.add-request-header {
    height: 200px;
    margin-bottom: 15px;
    background-image: radial-gradient(darkgray, #0E594B);
}

.txtInputContainer label {
    color: #00B28B;
}

.txtInputContainer input, select, textarea, #file {
    border-color: #00B28B !important;
}

svg {
    color: #00B28B;
}

#file_previewer {
    column-count: 2;
}

#file_previewer iframe {
    width: 100%;
    height: 500px;
    display: flex;
    margin-bottom: 10px;
}