#form {
    width: 100%;
    max-width: 1080px;
    margin: 0px auto;
    border-right:2px solid lightgray;
    border-left: 2px solid lightgray;
    padding: 20px;
}

#valider {
    margin-top: 20px;
    width: 40%;
}

#form h2 {
    text-align: center;
    color: gray;
}